<div id="hero">		
  <span id="hero-fg-text"><h2>New Musical Expression</h2></span>
  <span id="hero-bg-text"><h1>COMPEL</h1></span>		
  <span id="hero-rotate-text">We Create</span>
  <span id="hero-highlighted-text">A Modern<br>Design</span>
</div>
