<% provide :page_title, application_name %>

<% if @presenter.display_share_button? %>
  <div class="home_share_work row">
    <div class="col-sm-12">
      <h2>Welcome to BinaryArts</h2>
      <p>Lorem ipsum dolor sit amet, mauris sed sem bibendum, erat vel eu deserunt, amet mi dui, nibh hac euismod, nunc ante. Nonummy sed. Justo sit aliquam porttitor bibendum, est sagittis sit et, tellus et varius, dictum metus commodo, non amet sit egestas sodales. Justo nec nullam vel nullam, id platea hendrerit, libero elementum, pede nulla luctus ac mi, lacus justo vel. Nec condimentum auctor. Turpis interdum hendrerit quam lectus ligula morbi, dolor id iaculis blandit, amet morbi ut, magna ut.</p>
    </div>
  </div>
<% end %>

<div class="row home-content">
  <%= render 'home_content' %>
</div>
