<div id="about-content">
  <h1>About COMPEL</h1>
  <p>COMPEL is an initiative designed to address the preservational crisis of the computer music composed for a live performer and some form of technology-mediated part, be it fixed media or an interactive software. Furthermore, it seeks to empower the ensuing community with a platform that seamlessly integrates the community-building social media tools with the library repository. By doing this it offers a crowdsourced platform that encourages users to participate and contribute to an ever-growing ecosystem of unique and cutting edge music literature.</p>
  <div><p>COMPEL addresses the aforesaid challenges by:</p>
    <ul>
      <li>Introducing a framework with multiple personas that offers storage, retrieval, sorting, dynamic curation, and reproducibility of the electroacoustic compositions with initial focus on works for a live performer and technology;</li>
      <li>Leveraging lessons learned from the successful social media and entrepreneurial ventures, including Amazon and Facebook, to provide a free, open, and dynamic community-building portal where participants actively participate in the content creation, use, and curation, including fostering discoveries based on the past user interactions (e.g. users who performed this piece were also interested in another one);</li>
      <li>Offering a platform for matchmaking between the composers and performers that fosters community-building, visibility, and collaboration;</li>
      <li>Providing a foundation for crowd-sourced and group and/or institution-specific comments, difficulty and appropriateness ratings, and eventually a platform for easy extraction of artist’s activity reports. Given electroacoustic music’s presence in the academic circles, a number of these features may prove particularly helpful to higher education institutions, as well as pre-higher-education instruction and dissemination of the newfound literature;</li>
    </ul>
  </div>
  <h2>People</h2>
  <div class="person">
    <%= image_tag('vtul/people/ico.jpg', class: 'about-people-img') %>
    <h3>Ivica Ico Bukvic</h3>
    <p>The work of sound artist and researcher Ivica Ico Bukvic (b. 1976) is driven by the ubiquitous interactivity. Bukvic’s output encompasses aural, visual, acoustic, electronic, performances, installations, technologies, research publications, presentations, grants, patent disclosures, and awards. His most recent work focuses on audio spatialization and sonification, exploring connections among the arts and human health, and recontextualizing STEM K-12 education through innovative approaches to creativity and technology. Bukvic spent most of his career as a scholar-practitioner developing new transdisciplinary trajectories. Since 2011 he has received $1M in external funding.</p>
<p>Dr. Bukvic currently works at Virginia Tech in the School of Performing Arts (SOPA) where he serves as the founder and Director of the Digital Interactive Sound and Intermedia Studio (DISIS) and the Linux Laptop Orchestra (L2Ork), Director and co-founder of the Creative Technologies in Music degree option, Institute for Creativity, Arts, and Technology’s (ICAT) Senior Fellow, Provost-appointed Stakeholder for the Creativity &amp; Innovation Strategic Growth Area, Executive Committee member of the Individualized PhD (iPhD) program in the Human-Centered Design, and a member of the Center for Human-Computer Interaction with a courtesy appointment in Computer Science.</p>
  </div>
  <div class="person">
    <%= image_tag('vtul/people/andi.jpg', class: 'about-people-img') %>
    <h3>Andi Ogier</h3>
    <p>Andrea L. Ogier is the Director, Data Services in the University Libraries at Virginia Tech. She holds a MLIS with a specialization in Data Curation from the University of Illinois Urbana-Champaign, and manages a portfolio of data-focused research services within the Libraries, including a team of data consultants and an institutional data repository.</p>
  </div>


</div>
